*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
}
.button{
    background-color: rgb(177, 172, 172);
    width: 120px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
.button::before{
    position: absolute;
    background-color: #ffff;
    content: '';
    width: 45px;
    height: 45px;
    border-radius: 200px;
    margin: 3px;
    transition: 0.2s;
}
input:checked + .button::before{
    transform: translateX(68px);
}
input{
    display: none;
}